<div data-controller="menu" class="menu ex-accordion is-active">
  <div class="menu-label">
    <div>
      <i class="fa-solid fa-fw fa-file-lines"></i>
      <span><%= t('cms.admin.title') %></span>
    </div>
  </div>
  <div class="menu-list">
    <%= link_to t('cms.admin.audios.index.title'), { controller: 'cms/admin/audios' }, class: active_helper(controllers: 'audios', active: 'is-active') %>
  </div>
</div>
