<td><%= model.title %></td>
<td><%= model.state %></td>
<td><%= model.author.name if model.author %></td>
<td><%= audio_tag model.media.url(disposition: params[:disposition]), controls: true if model.media.attached? %></td>
