

<figure data-controller="player">
  <%= audio_tag @audio.media.url, data: { player_target: 'media' } %>

  <div class="has-v-centered">
    <button data-action="player#play" class="button is-small">
      <i class="fa-solid fa-play"></i>
    </button>
    <button data-action="player#pause" class="button is-small ml-2">
      <i class="fa-solid fa-pause"></i>
    </button>
    <progress data-player-target="progress" value="1" class="progress is-primary ml-2"></progress>
  </div>
</figure>
