<tr>
  <td class="right aligned"><%= Cms::Cover.human_attribute_name(:title) %></td>
  <td><%= @cover.title %></td>
</tr>
<tr>
  <td class="right aligned"><%= Cms::Cover.human_attribute_name(:media) %></td>
  <td><%= image_tag @cover.media, class: 'image is-128x128' %></td>
</tr>

