<div>
  <dt><%= Cms::Cover.human_attribute_name(:title) %></dt>
  <dd><%= @cover.title %></dd>
</div>
<div>
  <dt><%= Cms::Cover.human_attribute_name(:media) %></dt>
  <dd><%= image_tag @cover.media, class: 'image is-128x128' %></dd>
</div>

