<div>
  <dt><%= Cms::Carousel.human_attribute_name(:title) %></dt>
  <dd><%= @carousel.title %></dd>
</div>
<div>
  <dt><%= Cms::Carousel.human_attribute_name(:image) %></dt>
  <dt><%= image_tag @carousel.image, class: 'image is-128x128' %></dd>
</div>
