<tr>
  <td class="has-text-right"><%= Cms::Carousel.human_attribute_name(:title) %></td>
  <td><%= @carousel.title %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Cms::Carousel.human_attribute_name(:image) %></td>
  <td><%= @carousel.image %></td>
</tr>
