<th><%= Cms::Carousel.human_attribute_name(:title) %></th>
<th><%= Cms::Carousel.human_attribute_name(:image) %></th>
<th>
  <p><%= Cms::Carousel.human_attribute_name(:link_controller) %></p>
  <p><%= Cms::Carousel.human_attribute_name(:link_action) %></p>
</th>
