<div data-controller="player" class="box is-padding-less mt-3">
  <%= image_tag cover_url, data: { action: 'click->player#play' } %>
  <%= audio_tag media_url, data: { player_target: 'media' } %>
</div>
