<figure data-controller="player" class="weui-panel is-box mt-3">
  <%= audio_tag @audio.media.url, data: { player_target: 'media' } %>
  <div class="image has-box-square has-block-centered is-cover" style="background-image: url(<%= image_path('player_bg.jpg') %>)">
    <%= image_tag @audio.cover.url, data: { player_target: 'cover' }, class: 'image is-rounded is-128x128 as-centered has-animate-anticlockwise' %>
  </div>
  <progress data-player-target="progress" value="0" class="progress is-radiusless is-primary mb-1"></progress>
  <div class="has-flex-centered">
    <button data-action="player#toggle" class="button is-small">
      <i class="fa-solid fa-play"></i>
    </button>
  </div>
</figure>
