<div class="ui vertical fluid icon menu">
  <div class="header center link item" id="close_side">
    <i class="content icon"></i>
  </div>
  <div class="item ui dropdown">
    <a class="<%= active_helper(controllers: ['audios', 'videos'], active_class: 'title active', item_class: 'title') %>">
      <i class="file alternate icon"></i>
      <span>资讯</span>
    </a>
    <div class="<%= active_helper(controllers: ['audios', 'videos'], active_class: 'menu content active', item_class: 'menu content') %>">
      <%= link_to '音频管理', admin_audios_path, class: active_helper(controllers: 'audios') %>
      <%= link_to '视频管理', admin_videos_path, class: active_helper(controllers: 'videos') %>
    </div>
  </div>
</div>

